html,body {
  background-color: #232323;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}
#main {
	padding: 0;
  margin: 0 auto;
  min-height: 480px;
  text-align: center;
  background: transparent url(/images/mountain-backed--savannah.jpg) no-repeat 50% 50%;
  overflow: hidden;
}

.rounded {
  border: 1px solid rgba(255,255,255,.05);
	border-top: 1px solid rgba(255,255,255,.08);
	border-bottom: 1px solid rgba(255,255,255,.03);
  -moz-box-shadow: 0 0px 3px rgba(0,0,0,0.04);
	-webkit-box-shadow: 0 0px 3px rgba(0,0,0,0.04);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#main form {
  width: 80%;
  padding: 5%;
  margin: 1% auto;
  overflow:hidden;
  border: 1px solid #272727;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #272727;
  -moz-box-shadow: 1px 1px 20px #2f384b;
  -webkit-box-shadow: 1px 1px 20px #2f384b;
  box-shadow: 1px 1px 20px #2f384b;
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#main form input, #main form div {
  color: #fff;
  width: 90%;
  margin: 1% auto;
  display: block;
  text-align: center;
}

#main form input, #main form a.button {
  padding: 5px 2%;
  background-color: #FFF;
  color: #272727;
}

#main form div {
  width: 90%;
}

#main form input.button,#main form a.button {
  width: 50%;
  float: right;
  -webkit-appearance: none;
  margin: 2% 0;
}

#main form a.donate {
  display: block;
  background-color: #272727;
  padding: 15px 2%;
  font-size: 16px;
  margin: 5% auto;
  text-decoration: none;
  width: 80%;
  color: #fff;
}

#main form.error {
  border: 1px solid #9e0000;
  border-top: 1px solid #9e0000;
  border-bottom: 1px solid #9e0000;
}