#main
  %hgroup
    %h1 uChicken?
    %h2 Play the Game. Fight the Famine.

  %form{:action=>"/", :method=>"get",:class => "#{flash[:error].present? ? 'error' : ''}"}
    %p.flash= flash[:error] if flash[:error]
    %p.flash= flash[:notice] if flash[:notice]
    %a.rounded.donate{:href => 'http://5050.gd/campaigns/42/donate?return_url=http%3A%2F%2Fuchicken.heroku.com%2Fdonate%3Fname%3D%24%7Bname%7D%26donation_id%3D%24%7Bdonation_id%7D%26amount%3D%24%7Bamount%7D'} DONATE TO PLAY
    %input{:type=>"text", :name=>"donation_id", :placeholder => '- or enter donation id -'}
    %div
      %input.rounded.button.verify{:type=>"submit", :value=>"VERIFY DONATION"}
