- @javascripts << ['main','narrative']
.layer{:style=>"display: none;"}
  #welcome.message
    %hgroup
      %h1 uChicken?
      %h2 Play the Game. Fight the Famine.
    %p
      %span.text You and fellow gamers have collectively
      %span.stats
        raised
        %span#raised ?
        Kenyan Shillings
      %span.text and
      %span.stats
        unlocked
        %span#unlocked ?
        Feature
    %p
      %span.text You are
      %span.stats
        %span#progress ?
      %span.text closer to your next power-up

    %ul.actions
      %li#welcome-continue play
      %li#welcome-donate
        %a{:target => "_blank", :href => "http://5050.gd/campaigns/42/donate?return_url=http%3A%2F%2Fuchicken.heroku.com%2Fcallback%3Fname%3D%24%7Bname%7D%26amp%3Bamount%3D%24%7Bamount%7D"} donate
  #narrative.message
    %p Sight-seeing in Kenya! And you've volunteered for a day on the farm.
    %ul.actions
      %li#narrative-skip skip
      %li#narrative-next next
      %li#narrative-play{:style=>"display: none;"} play

%img#terrain{:style=>"display: none;", :src=> "/images/mountain-backed--savannah.jpg"}
%img#chicken{:style=>"display: none;", :src=>"/images/chicken.png"}
%img#hut{:style=>"display: none;", :src=>"/images/hut.png"}
%canvas#game This game requires a browser that supports the HTML5 canvas element.