%div.layer
  #narrative
    %p Sight-seeing in Kenya! And you've volunteered for a day on the farm.
    #narrative-next next
    #narrative-play{:style=>"display: none;"} play

%img#terrain{:style=>"display: none;", :src=> "/images/mountain-backed--savannah.jpg"}
%img#chicken{:style=>"display: none;", :src=>"/images/chicken.png"}
%img#hut{:style=>"display: none;", :src=>"/images/hut.png"}
%canvas#game This game requires a browser that supports the HTML5 canvas element.